
hr {
		border: 0.1em solid;
	border-color: rgba(192,192,192,0.5);
}

table {
	text-align: center;
	width: 100%;
	overflow: auto;
}
/*
table tbody tr:hover {
    background-color: #FFFF99;
    cursor: pointer;
}
*/
#map-canvas {

	height: 30em;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px rgba(192,192,192,0.5);	
}


#arpan {
	display: none;
}

#regrecpan {
	display: none;
}

#regrecpan {
	display: none;
}
#sbpan {
	display: none;
}

#lrpan {
	display: none;
}

#atmappan {
	display: none;
}
#athrpan {
	display: none;
}

#panListaRecs {
	display: none;
}

#atreghrpan {
	display: none;
}

#atzyepan {
	display: none;
}

#atcontratacionesonline {
	display: none;
}

#atreclamos {
	display: none;
}

.aghj {
	
}

.equipos {
	margin: 5px 5px;
}

.paneles {
	border: 0.1em solid;
	border-color: rgba(192,192,192,0.5);
	border-radius: 0.5em;
	padding:  25px 25px;
	box-shadow: 10px 10px 5px rgba(192,192,192,0.5);	

}

.col1 {
	width: 5px;
	text-align: center;
}

.col2 {
	width: 5px;
	text-align: center;
}

.col3 {
	width: 5px;
	text-align: center;
}

.col4 {
	width: 15px;
	text-align: center;
}

.col5 {
	width: 15px;
	text-align: center;
}

.col6 {
	width: 10px;
	text-align: center;
}

.col7 {
	width: 10px;
	text-align: center;
}

.col8 {
	width: 15px;
	text-align: center;
}

.col9 {
	width: 5px;
	text-align: center;
}

#msgmodal1{
	display: none;
}

#modloadbar1 {
	display: none;
}

#modresult1 {
	display: none;
}

#msgmodal2{
	display: none;
}

#modloadbar2 {
	display: none;
}

#modresult2 {
	display: none;
}

#msgmodal3{
	display: none;
}

#modloadbar3 {
	display: none;
}

#modresult3 {
	display: none;
}
